# CODEOWNERS

#
# DEFAULT CODEOWNERS
#
# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, they will be requested for review when someone
# opens a pull request.
#

* @rak3rman

#
# DIRECTORY SPECIFIC CODEOWNERS
#
# These owners will be the default owners for specific directories in the repo.
# Unless a later match takes precedence, they will be requested for review when
# someone opens a pull request.
#

/.github/ @rak3rman

/hono/ @rak3rman

/next/ @rak3rman
